.container {
  margin-top: 30px;
  background-color: #2e374a;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
}

.form {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  gap: 20px;
}

.form input,
.form select,
.form textarea {
  width: 45%;
  color: rgb(62, 62, 62);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form textarea {
  width: 100%; /* Textarea should span the full width */
  height: 100px; /* Adjust height for the textarea */
}

/* Set placeholder color */
.form input::placeholder,
.form textarea::placeholder {
  color: rgb(62, 62, 62);
}

.btn {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #57c97b;
  color: rgb(7, 7, 7);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
  font-weight: bold;
  font-size: 15px;
}
